<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Vineet</h3>
    <nav class="nav nav-masthead">
      <a class="nav-link" routerLink="/"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="nav-link" routerLink="/users"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">users</a>
      <a class="nav-link" routerLink="/user/new"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">new user</a>
    </nav>
  </div>
</div>