<div class="row">
  <div class="col-sm-6">
    <h1>New User</h1>
    <form [formGroup]="userForm" novalidate (ngSubmit)="submitted = true;createUser(userForm.value);userForm.reset();">
    <div>form values: {{userForm.value | json}}</div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" formControlName='username' name="user[username]">
        <div [hidden]="userForm.controls.username.valid && !userForm.controls.username.touched" class="alert alert-danger">
          Username is required
        </div>
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <input type="text" class="form-control" id="status" formControlName="status" name="user[status]">
        <div [hidden]="userForm.controls.status.valid && userForm.controls.status.untouched" class="alert alert-danger">
          Status is required
        </div>
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age"  formControlName="age" name="user[age]">
        <div [hidden]="userForm.controls.age.valid && userForm.controls.age.untouched" class="alert alert-danger">
          Age is required
        </div>
      </div>

      <div formArrayName="addresses">
        <app-address *ngFor="let address of userForm.get('addresses').controls; let i=index" [addressForm]="address"></app-address>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="userForm?.invalid">Submit</button>
      <button type="button" class="btn btn-default" (click)="userForm.reset()">Reset</button>
    </form>

    <div [hidden]="!submitted">
    	{{formSubmitResponse}}
    </div>
  </div>
</div>
